*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
}
html{
  font-size: 16px;
}
body{
  background-color: rgb(112, 112, 112);
}
header{
  width: 100%;
  height: 100vh;
}

/* nav starts */
nav{
  width: 100%;
  background-color: rgb(153, 153, 153);
  display: flex;
  position: fixed;
  justify-content: space-between;
  align-items: center;
}
.name{
  font-size: 3rem;
  font-weight: 500;
  margin-left: 5%;
}
ul{
  margin-right:10%;
}
li{
  display: inline-block;
}
a{
  padding: 10px;
  background-color: rgb(87, 87, 87);
  border-radius: 15px;
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
}
i{
  display: none;
  font-size: 4rem;
  border: 1px solid white;
  padding: 5px;
  border-radius: 5px;
}
/* nav ends */

/* text in center */
main{
  width: 40rem;
  margin-left: 5%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main h1{
  font-size: 4rem;
}
main p{
  font-size: 2rem;
}
/* text in center */

/* section */
section{
  background-color: rgb(179, 179, 179);
  padding: 5%;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(24rem, 1fr));
  gap: 40px;
}
.box{
  background-color: black;
  width: 24rem;
  height: 30rem;
  border-radius: 15px;
}
/* section */

/* footer */
footer{
  background-color: black;
  color: white;
  text-align: center;
  height: 100px;
  display: grid;
  place-items: center;
}
/* footer */

/* responsive */
@media only screen and (max-width: 992px) {
  html{
    font-size: 14px;
  }
}
@media only screen and (max-width: 768px) {
  html{
    font-size: 12px;
  }
}
@media only screen and (max-width: 576px) {
  html{
    font-size: 10px;
  }
  ul{
    display: none;
  }
  i{
    display: inline-block;
  }
  .main{

  }
}